<html>
    <head>
        <title>Homepage</title>
    </head>
    <body>
        <h1>Phone Homepage</h1>
        <a href="/phones">View Phones</a>
        <a href="/categories">View Categories</a>
    </body>
</html>